[submodule "build/opus"]
	path = build/opus
	url = https://github.com/xiph/opus.git
	ignore = dirty
[submodule "build/lame"]
	path = build/lame
	url = https://github.com/rbrito/lame.git
	ignore = dirty
[submodule "build/x264"]
	path = build/x264
	url = https://git.videolan.org/git/x264.git
	ignore = dirty
[submodule "build/ffmpeg-mp4"]
	path = build/ffmpeg-mp4
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = dirty
